body {
  background: #ebe8e5;
  font-family: 'Rubik', sans-serif;
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
h1 {
  margin: 0.5em 0;
}

.accordion {
  max-width: 50vw;
  padding: 0.5em;
  margin:auto;
}
.item {
  overflow: hidden;
}
.item .item-label {
  cursor: pointer;
}
.item .item-text {
  color:#0300cf;
}
.item-label-header {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  font-size: 1.2em;
  font-weight: bold;
  border-top: 1px gray solid;
}

.item-icon {
  display: none;
}
.items:hover .item-icon {
  display: block;
}
.items:hover .item-text {
  color: inherit;
}

.item-content {
  max-height: 0;
  transition: 0.5s;
  text-align: center;
}
.item-content img {
    width: 30vw;
}

.item-label:hover .item-content {
  max-height: 100vh;
  padding: 1em;
}

input:checked + .item-label .item-label-header .item-text {
  color: inherit;
}
input:checked + .item-label .item-label-header .item-icon {
  transform: rotate(45deg);
}
input:checked ~ .item-label .item-content {
  max-height: 100vh;
  padding: 1em;
}